@import "layout/_base.scss";

@import "components/button/_index.scss";
@import "components/navigation/_index.scss";

body {
  background: #e5eaed;
  font-family: $mainFont;
  transition: all 1s ease;
}

.Content {
  padding-top: 85px;
}